/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
} */

/* blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    height: auto;
    padding: 5px;
}

.nav-wrapper {
    background-color: #0277bd;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    background-color: #0277bd;
    height: 100vh;
}

.hero_body h3 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.hero_body p {
    color: white;
    font-size: 1.5rem;
}

.btn-large {
    background-color: #61BD4F;
    color: whitesmoke;
    font-weight: bold;
}

.signupText {
    flex-basis: 30%;
    border-radius: 5px;
    margin-left: 20px;
    background: white;
}

.signup_btn:hover {
    color: white;
}

.flex1 {
    justify-content: left;
}

.signup_btn {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background: white;
    color: #0277bd;
}

.signup_card {
    width: 50%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.signup_button {
    padding: 15px 60px;
    background: #61BD4F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.signup_bkg {
    background: #f5f5f5;
    height: 100vh;
}

.header_icons {
    width: 2rem;
    padding-top: 20px;
}

.nav {
    color: #fff;
    background-color: #0277bd;
    width: 100%;
    height: 40px;
    text-align: right;
}

.header_nav {
    justify-content: space-between;
}
li {
    list-style-type: none;
}